* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.header{
    margin: 0 auto;
    width: 100%;
}

.parallax_1, .parallax_2, .parallax_3, .parallax_4{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_1{
    background-image: url("../img/Layer21.png");
    min-height: 900px;

}

.parallax_1-text{
    position: absolute;
    top: 65%;
    left: 10%;
}

.upper-text {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.middle-text{
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}

.low-text{
    border: 1px solid white;
}

.low-text-ul li{
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 900;
    text-align: left;
}

.first-li-text{
    background-color: white;
    color: #f1ad1d;
    font-family: Montserrat;
    padding: 20px;
}

.second-li-text{
    padding: 19px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Montserrat;
}

.flex-box{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.container{
    margin: 0 auto;
}

.text_1{
    font-family: Montserrat;
    color:  #333333;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    line-height: 18px;
    text-align: center;
    padding: 112px 0 35px 0;
}

.text_2{
    font-family: Lato;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 52px;
}

.orange-line {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    margin: 0 auto 150px;
    border: none;
}

.parallax_2{
    background-image: url("../img/bg2.jpg");
    height: 380px;
}

.inner-text{
    position: absolute;
    top: 35%;
    left:0%;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    font-family: Montserrat;

}

.chapter{
    color:  #ffffff;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.orange-text{
    color:  #f1ad1d;
}

.parallax_3{
    background-image: url("../img/bg3.jpg");
    height: 475px;
}

.parallax_4{
    background-image: url("../img/bg4.jpg");
    height: 485px;
}

.icon-image{
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.four-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-line{
    margin-bottom: 30px;
}

.chapter-small{
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    padding: 20px 100px;
}

.white-line{
    background-color:  #ffffff;
    width: 281px;
    height: 3px;
    margin: 10px auto;
}

.last-text{
    padding-bottom: 150px;
}